.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e5cdfc82;
}
.input {
  border: 1px solid #9c27b0;
  padding: 10px;
  border-radius: 10px;
  width:100%;
}

.input:hover {
  border: 2px solid #7b1fa2; 
}

.input:focus {
  border: 2px solid #9c27b0;
  outline: none; 
}

.input:focus:hover {
  border: 2px solid #7b1fa2; 
}
ul{
  list-style-type: none;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  max-height: 300px;
  position: relative;
}
li{
  padding: 10px !important;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px !important;
  margin-top: 5px;
}



ul::-webkit-scrollbar{
  width: 5px; 
}

ul::-webkit-scrollbar-track {
  background: #d3d0d0d3; 
}

ul::-webkit-scrollbar-thumb {
  background: #7b1fa2; 
  border-radius: 4px; 
}
